@font-face {
    font-family: Syne-Medium;
    src: url(../fonts/Syne-Medium.ttf);
}

h1 {
    font-family: "Syne-Medium";
    font-size: 80px 72px;
}

h2 {
    font-family: "Syne-Medium";
    font-size: 64px 64px;
}

h3 {
    font-family: "Syne-Medium";
    font-size: 32px 24px;
}

p {
    font-family: "Syne-Medium";
    font-size: 24px 18px;
}

button {
    font-family: "Syne-Medium";
    height: 56px;
    width: 306px;
    border-radius: 8px;
    color: #F8F8F8;
    background: #000000;
    font-size: 16px;
}